-r requirements.txt
# TODO Pin coverage==7.2.7 while testing Python 3.12 alpha 4,
# to avoid installing an ABI-incompatible wheel built against a beta.
coverage==7.2.7
pytest==7.4.0
pytest-aiohttp==1.0.4
pytest-mock==3.11.1
pytest-cov==4.1.0