{% extends "base.html" %}

{% block content %}
    <div class="py-3 mx-auto justify-content-center">
        <p>As part of CPython’s workflow, any non-trivial change to the codebase requires an accompanying Misc/News.d file in the pull request.</p>
        <p>So far, the way you would add the news entry is by using blurb command line tool, that can be installed using PyPI and requires Python 3.5+.</p>
        <p>But now, we’re going to defy the Zen of Python’s “there should be only one way to do it”, and present you with another way to do it: <strong>blurb-it</strong>. <a href="https://blurb-it.herokuapp.com/">https://blurb-it.herokuapp.com/</a></p>
        <p>blurb-it provides a web interface for you to create news entry to your own CPython pull request. That means, you can do this from your phone, as long as you have a webbrowser and connected to the internet.</p>
        <p>blurb-it is a <a href="https://github.com/apps/blurb-it">GitHub App</a> owned by The PSF. You’ll need to <a href="/install"><strong>install it</strong></a> and <strong>give write permission</strong> to your own fork’s cpython repo (so it can create the news file). Since <strong>the app will have write access to the repo</strong>, you should not install this on any other repo.</p>
        <p>Please give this a try and let me know of any issues by filing a bug in the <a href="https://github.com/python/blurb_it">blurb-it repo</a>.</p>
        <p>The use of blurb-it is optional. You can still add news file using the <a href="https://pypi.org/project/blurb/">blurb command line tool</a>.</p>
        <p>To uninstall blurb-it:</p>

        <ol>
            <li>Go to <a href="https://github.com/settings/installations">https://github.com/settings/installations</a>.</li>
            <li>Click blurb-it’s “Configure” button.</li>
            <li>Scroll down and click the “Uninstall” button.</li>
        </ol>
    </div>

{% endblock %}